<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<real>1.0079</real>
	<key>He</key>
	<real>4.0026</real>
	<key>Li</key>
	<real>6.941</real>
	<key>Be</key>
	<real>9.0122</real>
	<key>B</key>
	<real>10.811</real>
	<key>C</key>
	<real>12.011</real>
	<key>N</key>
	<real>14.007</real>
	<key>O</key>
	<real>15.999</real>
	<key>F</key>
	<real>18.998</real>
	<key>Ne</key>
	<real>20.18</real>
	<key>Na</key>
	<real>22.99</real>
	<key>Mg</key>
	<real>24.305</real>
	<key>Al</key>
	<real>26.982</real>
	<key>Si</key>
	<real>28.086</real>
	<key>P</key>
	<real>30.974</real>
	<key>S</key>
	<real>32.066</real>
	<key>Cl</key>
	<real>35.453</real>
	<key>Ar</key>
	<real>39.948</real>
	<key>K</key>
	<real>39.098</real>
	<key>Ca</key>
	<real>40.078</real>
	<key>Sc</key>
	<real>44.956</real>
	<key>Ti</key>
	<real>47.867</real>
	<key>V</key>
	<real>50.942</real>
	<key>Cr</key>
	<real>51.996</real>
	<key>Mn</key>
	<real>54.938</real>
	<key>Fe</key>
	<real>55.845</real>
	<key>Co</key>
	<real>58.933</real>
	<key>Ni</key>
	<real>58.693</real>
	<key>Cu</key>
	<real>63.546</real>
	<key>Zn</key>
	<real>65.40900000000001</real>
	<key>Ga</key>
	<real>69.723</real>
	<key>Ge</key>
	<real>72.64</real>
	<key>As</key>
	<real>74.922</real>
	<key>Se</key>
	<real>78.922</real>
	<key>Br</key>
	<real>79.904</real>
	<key>Kr</key>
	<real>83.798</real>
	<key>Rb</key>
	<real>85.468</real>
	<key>Sr</key>
	<real>87.62</real>
	<key>Y</key>
	<real>88.90600000000001</real>
	<key>Zr</key>
	<real>91.224</real>
	<key>Nb</key>
	<real>92.90600000000001</real>
	<key>Mo</key>
	<real>95.94</real>
	<key>Tc</key>
	<real>98</real>
	<key>Ru</key>
	<real>101.07</real>
	<key>Rh</key>
	<real>102.91</real>
	<key>Pd</key>
	<real>106.42</real>
	<key>Ag</key>
	<real>107.87</real>
	<key>Cd</key>
	<real>112.41</real>
	<key>In</key>
	<real>114.82</real>
	<key>Sn</key>
	<real>118.71</real>
	<key>Sb</key>
	<real>121.76</real>
	<key>Te</key>
	<real>127.6</real>
	<key>I</key>
	<real>126.9</real>
	<key>Xe</key>
	<real>131.29</real>
	<key>Cs</key>
	<real>132.91</real>
	<key>Ba</key>
	<real>137.33</real>
	<key>La</key>
	<real>138.91</real>
	<key>Ce</key>
	<real>140.12</real>
	<key>Pr</key>
	<real>140.91</real>
	<key>Nd</key>
	<real>144.24</real>
	<key>Pm</key>
	<real>145</real>
	<key>Sm</key>
	<real>150.96</real>
	<key>Eu</key>
	<real>151.96</real>
	<key>Gd</key>
	<real>157.25</real>
	<key>Tb</key>
	<real>158.93</real>
	<key>Dy</key>
	<real>162.5</real>
	<key>Ho</key>
	<real>164.93</real>
	<key>Er</key>
	<real>167.26</real>
	<key>Tm</key>
	<real>168.93</real>
	<key>Yb</key>
	<real>173.04</real>
	<key>Lu</key>
	<real>174.97</real>
	<key>Hf</key>
	<real>178.49</real>
	<key>Ta</key>
	<real>180.95</real>
	<key>W</key>
	<real>183.95</real>
	<key>Re</key>
	<real>186.21</real>
	<key>Os</key>
	<real>190.23</real>
	<key>Ir</key>
	<real>192.22</real>
	<key>Pt</key>
	<real>195.08</real>
	<key>Au</key>
	<real>196.97</real>
	<key>Hg</key>
	<real>200.59</real>
	<key>Tl</key>
	<real>204.38</real>
	<key>Pb</key>
	<real>207.2</real>
	<key>Bi</key>
	<real>208.98</real>
	<key>Po</key>
	<real>209</real>
	<key>At</key>
	<real>210</real>
	<key>Rn</key>
	<real>222</real>
	<key>Fr</key>
	<real>223</real>
	<key>Ra</key>
	<real>226</real>
	<key>Ac</key>
	<real>227</real>
	<key>Th</key>
	<real>232.04</real>
	<key>Pa</key>
	<real>231.04</real>
	<key>U</key>
	<real>238.03</real>
	<key>Np</key>
	<real>237</real>
	<key>Pu</key>
	<real>244</real>
	<key>Am</key>
	<real>243</real>
	<key>Cm</key>
	<real>247</real>
	<key>Bk</key>
	<real>247</real>
	<key>Cf</key>
	<real>251</real>
	<key>Es</key>
	<real>252</real>
	<key>Fm</key>
	<real>257</real>
	<key>Md</key>
	<real>258</real>
	<key>No</key>
	<real>259</real>
	<key>Lr</key>
	<real>262</real>
	<key>Rf</key>
	<real>261</real>
	<key>Db</key>
	<real>262</real>
	<key>Sg</key>
	<real>266</real>
	<key>Bh</key>
	<real>264</real>
	<key>Hs</key>
	<real>277</real>
	<key>Mt</key>
	<real>268</real>
	<key>Ds</key>
	<real>281</real>
	<key>Rg</key>
	<real>272</real>
</dict>
</plist>
